In [3]:
import pandas as pd
import requests
import xml.etree.ElementTree as ET

requests.__version__

'2.31.0'

In [10]:
url = 'http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list'
response = requests.get(url)

1. URL 가져오기

In [4]:
# 친환경농산물 품목별가격정보('20.4~)


url = 'http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list'
params ={'serviceKey' : 's2Q2UeDhqrWZjE7PzV04ywg2XbCu9zbb3ZhfNw%2BC4feQaU6GkhGVkAgUDqivsupzy6nyZomGjD2%2FUz%2FEnuaEdg%3D%3D', 'pageNo' : '1', 'numOfRows' : '10', 'dataType' : 'XML' }

response = requests.get(url, params=params)

print(response.text)

<response><header><resultCode>00</resultCode><resultMsg>정상</resultMsg></header><body><pageNo>1</pageNo><totalCount>18</totalCount><numOfRows>10</numOfRows><items><item><bssYmdStart>20240304</bssYmdStart><interest4_1>0</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>산업은행</organId><callCenter>1588-1500</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>0</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>제주은행</organId><callCenter>1588-0079</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>0</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>SC은행</organId><callCenter>1588-1599</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>6.32</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>전북은행</organId><callCenter>1588-4477</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>0</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>광주은행</organId><callCenter>1600-4000</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>4.23</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>경남은행</organId><callCenter>1588-8585</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>4.28</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>기업은행</organId><callCenter>1566-2566</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>3.6</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>카카오뱅크</organId><callCenter>1599-3333</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>2.76</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>대구은행</organId><callCenter>1588-5050</callCenter></item><item><bssYmdStart>20240304</bssYmdStart><interest4_1>4.22</interest4_1><interest3_2>0</interest3_2><interest4_2>0</interest4_2><interest2_1>0</interest2_1><interest1_2>0</interest1_2><interest3_1>0</interest3_1><interest2_2>0</interest2_2><interest1_1>0</interest1_1><bssYmdEnd>20240310</bssYmdEnd><organId>우리은행</organId><callCenter>1599-5000</callCenter></item></items></body></response>

In [5]:
root = ET.fromstring(response.content)

In [6]:
row_dic = {'bssYmdStart' : [],
           'interest4_1' : [],
           'interest3_2' : [],
           'interest4_2' : [],
           'interest2_1' : [],
           'interest1_2' : [],
           'interest3_1' : [],
           'interest2_2' : [],
           'interest1_1' : [],
           'bssYmdEnd' : [],
           'organId' : [],
           'callCenter' : [],}

2. 데이터프레임에 넣기

In [11]:

for i in root.findall('./body/items/item'):

    for j in i:
        row_dic[j.tag].append(j.text)

df = pd.DataFrame(row_dic)
df

,bssYmdStart,interest4_1,interest3_2,interest4_2,interest2_1,interest1_2,interest3_1,interest2_2,interest1_1,bssYmdEnd,organId,callCenter
0,20240304,0,0,0,0,0,0,0,0,20240310,산업은행,1588-1500
1,20240304,0,0,0,0,0,0,0,0,20240310,제주은행,1588-0079
2,20240304,0,0,0,0,0,0,0,0,20240310,SC은행,1588-1599
3,20240304,6.32,0,0,0,0,0,0,0,20240310,전북은행,1588-4477
4,20240304,0,0,0,0,0,0,0,0,20240310,광주은행,1600-4000
5,20240304,4.23,0,0,0,0,0,0,0,20240310,경남은행,1588-8585
6,20240304,4.28,0,0,0,0,0,0,0,20240310,기업은행,1566-2566
7,20240304,3.6,0,0,0,0,0,0,0,20240310,카카오뱅크,1599-3333
8,20240304,2.76,0,0,0,0,0,0,0,20240310,대구은행,1588-5050
9,20240304,4.22,0,0,0,0,0,0,0,20240310,우리은행,1599-5000